{%extends "blog/base.html" %}
{%block content%}
    <section class="hero-image">
      <div class = 'container'>
        <h1 class="heading">Представление математики с помощью графа</h1>
        <p><a class = 'href-graph' href = "{% url 'graph' %}">Переход к графу</a></p>
      </div>
    </section>
  </div>
    <section class="intro">
      <h2 class="subheading">Какая-то инфа проекту</h2>
        {%for post in posts%}
          <h1><a href = "{% url 'post_detail' pk=post.pk %}">{{post.title}}<a></h1>
          <p>{{post.text}}</p>
          <p>published: {{post.published_date}}</p>
        {%endfor%}
      <h3>Пара слов о себе</h3>

      <h3>Чем могу быть полезен</h3>
      <p>Текст о том, чем могу быть полезен.</p>
    </section>

    <section class="portfolio">
      <h2 class="subheading">Мои работы</h2>

      <h3>Магазин товаров для дома</h3>
      <p>Мой первый сайт.</p>

      <h3>Блог начинающего верстальщика</h3>
      <p>Статический блог про обучение HTML и CSS.</p>
    </section>
{%endblock%}
